<section id="about">

    <div class="image-contianer">
        <img src="../assets/images/wifeandi.jpg" width="100%" height="100%">
    </div>
    <div class="blurb">
        <p> Many would describe me as a designer and front-end developer, but I'm more of an obsessive generalist. I love to learn new things. Throughout my career I've found myself working on a range of different projects; like creating an creative content
            marketing campaign for a global company to web applications for veterin health services.</p>

        <p>These days, I'm busy hanging out with my wife, two dogs, 3 cats, bringing ideas to life, and working as Senior UX/UI Designer at Logistics Health in La Crosse, Wisconsin.</p>
    </div>

</section>