/// Fonts ///
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400');
/// vars ///
$font-family: 'Source Code Pro',
monospace;
/// global ///
h1,
h2,
p,
a,
em {
    font-family: $font-family;
    line-height: 1.5;
    font-weight: 300;
    margin: 0;
}

/// Headers ///
h1 {
    // font-weight: 100;
    margin: 0 0 16px 0;
    font-size: 32px;
    line-height: 1.5;
}

p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4em;
    color: #333;
}