.myFace {
    display: flex;
    justify-content: center;
}

.sub-tag-line {
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    padding-top: 30vh;
}