.myFace {
    display: flex;
    justify-content: center;
}

h1 {
    .sub-tag-line {
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-height: 600px) {
        height: 75vh;
        padding-top: 20vh;
    }
}