<!--
<nav>
    <ul>
        <li><a href="JamieAppleseed-selectToAutocomplete/index.html">select To Autocomplete</a></li>
        <li><a href="pure-css-background-slideshow-ken-burns-effect/kenburns.html">pure css ken-burns-effect</a></li>
        <li><a href="angular/index.html">Angular Demo</a></li>
    </ul>
</nav>-->
<div class="container">
    <div class="blurb">
        <h1>Hi there, <span class="inline-block">I'm Chris!</span></h1>
    <p>I just started a new job as a Senior UX Designer at Logistics Health.</p>

    <h2>New Website, <span class="inline-block">coming soon</span><em style="color:#ddd">&hellip;ish</em></h2>
    </div><!-- /.blurb -->
</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:csholm@gmail.com">Email me, if you like</a></li>
  </ul>

  <em>Smile, it helps :)</em>

</footer>

<router-outlet></router-outlet>
