/* You can add global styles to this file, and also import other style files */

@import 'styles/header';
@import 'styles/typography';
///Fonts///
body {
    padding: 0;
    margin: 0;
}

.container,
footer {
    margin: 0 auto;
    width: 70%;
    @media (max-width: 600px) {
        width: 90%;
    }
    ;
}

footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #727272;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

///Typography////
.inline-block {
    display: inline-block;
}